h1 {
    font-family: "Poppins", sans-serif;
}

h3 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

.avatar {
    font-size: 25px;
}

.black {
    height: 700px;
}

.signup {
    font-size: small;
}

.link {
    text-decoration: none;
}

.about {
    font-size: small;
}

.byfx {
    font-size: small;
}
.card-link {
    text-decoration: none;
}