
button {
    background-color: black;
    color: aliceblue;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.containerClose {
    display: inline-flex; /* Make the container an inline flexbox */
    justify-content: space-between; /* Push items to opposite ends */
    width: 100%; /* Ensure the container takes full available width */
}

.btnClose {
    border-radius: 30px;
    padding: 5px;
}


.typingText {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    }


.key {
    outline: none;
    border: 10px solid black;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    text-align: center;
    margin: 1px;
   
}

.keysContainer {
    text-align: center ;
    
}

#spaceKey {
    width: 220px;
}

#shiftKey {
    width: 90px;
}

#tabKey {
    width: 60px;
}

p {
    color: #c1c1c1;
}

/* testpracticehtml */

  body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
  }
  
  .game-container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(46, 45, 45, 0.1);
    width: 300px;
    width: 100%;                   /* Width of the container */
    max-width: 2000px;

    
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .letter-display {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  .score {
    font-size: 20px;
    color: #25acbd;
  }


  /* test1 */

  #user-input {
    font-size: 24px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#stats {
    margin-top: 30px;
}

#start-button {
  background-color: green;
}


  